# Terraform
.terraform/
*.tfstate
*.tfstate.backup
tfplan
*.tfvars
!*.tfvars.example
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.env
.venv/
venv/

# Lambda zip artifacts
*.zip
